<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}


<body class="skin-blue sidebar-mini  pace-done" style="height: auto; min-height: 100%"></body>
<div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%"
        data-progress="99">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div class="wrapper" style="height: auto; min-height: 100%;">

    {% include 'header.html' %}


    {% include 'sidebar.html' %}
    <div class="content-wrapper" style="min-height: 593px;">
        <section class="content-header">
            <h1>
                Manage AppConfig <small></small>
            </h1>
            
        </section>
        <section class="content">
            <div id="container_message">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                
                            </div>
                                <div class="row">
                                    <div class="table-responsive col-sm-10">
                                        <table id="example1"
                                            class="table table-bordered table-striped dataTable no-footer" role="grid"
                                            aria-describedby="example1_info">
                                            <thead class="col">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1" style="width: 167.917px;"
                                                        aria-sort="ascending"
                                                        aria-label="Title: activate to sort column descending">Admin Charge
                                                    </th>
                                                    
                                                </tr>
                                            </thead>
                                    

                                                {% for x in li %}
                                                <tr id="row-36" role="row" class="odd">
                                                  <td class="title sorting_1">{{ x }}</td>
                                                  
                                                </tr>
                                                {% endfor %}
                                               
                                                <thead class="col">
                                                    <tr role="row">
                                                       
                                                        <th class="sorting" tabindex="0" aria-controls="example1"
                                                            rowspan="1" colspan="1" style="width: 38.1167px;"
                                                            aria-label="Type: activate to sort column ascending">Agent Charge</th>
                                                       
                                                    </tr>
                                                </thead>
                                        
    
                                                    
                                                    {% for x in li1 %}
                                                    <tr id="row-36" role="row" class="odd">
                                                      <td class="title sorting_1">{{ x }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                

                                        </table>
                                        
                                              
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
    {% include 'footer.html' %}
    <div class="control-sidebar-bg"></div>
</div>
{% include 'footer_script.html' %}

</body>

</html>